<div class="container-fluid">
  <div class="about-section row">
    <div class="image col-sm-4"></div>
    <div class="about col-sm-8">
      <div class="title">
        <%= t('about.title') %>
      </div>
      <div class="description">
        <%= t('about.description') %>
      </div>
    </div>
  </div>
</div>
