  <div class="section register-section">
    <div class="title">
      <%= t('register-section.title') %>
    </div>
    <div class="registers container">
      <div class="row">
        <div class="register col-sm">
          <div class="logo"></div>
          <div class="title">
            <%= t('register-section.register.title') %>
          </div>
          <div class="link">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSctnnI0g2seXH-oKi0vX1NxBe5EkHgQkMjTqg2tSc7u0wmLew/viewform" target="_blank">
              <%= t('register-section.register.link') %>
            </a>
          </div>
          <div class="description">
            <%= t('register-section.register.description') %>
          </div>
        </div>
      </div>
    </div>
  </div>
