  <div class="section register-section">
    <div class="title">
      <%= t('register-section.title') %>
    </div>
    <div class="registers">
      <div class="register">
        <div class="logo"></div>
        <div class="title">
          <%= t('register-section.register.title') %>
        </div>
        <div class="link">
          <%= t('register-section.register.link') %>
        </div>
        <div class="description">
          <%= t('register-section.register.description') %>
        </div>
      </div>
    </div>
  </div>
